body {
    background-color: #f5f7fa; 
    font-family: 'Montserrat', 'Arial';
}

.highlighted-text {
    color: gold;
    text-decoration-line: underline;
}

.main-container {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 40px auto;
    background-color: white;
}

.general-information {
    padding: 100px 88px; 
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.description-text {
    width: 500px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.titulos-ppales {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-top: 45px;
}

li {
    line-height: 24px;
}

.profession {
    font-size: 34px;
    font-weight: 700;
}

.proyect-list {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    padding-left: 17px;
}

.link-proyect {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    text-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
}

.points {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 3px;
}

h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-top: 15px;
    margin-bottom: 11px;
}

.period { 
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #a8a8a8;
}

.tasks-list {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    padding-left: 17px;
}

h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Lateral Information */

.secondary-information {
    background-color: #1e2939;
    padding: 40px 0;
    width: 400px;
    

}
.lateral-title {
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-top: 30px;
}

.contacts, .tech-skills, .soft-skills {
    margin-left: 40px;

}

/* Seccion de contacto */

.type-contact {
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin-right: 5px;

}

.info-contact {
    color: gray;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

/* List Section */

.lateral-list {
    padding-left: 20px;
}

.lateral-list > li {
    color: gold;
}

.elemento-lista-lateral {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}